<div class="grid-container">

  <mat-grid-list cols="2" id="cards" class="m-2">
    <mat-grid-tile *ngFor="let card of data" >
      <mat-card class="dashboard-card" [ngStyle]="card.image==null ? {'background-color': 'maroon' ,'color': 'white'} : {'background-color': 'white', 'color':'black'}">
        <mat-card-header>
          <mat-card-title [ngStyle]="card.image==null ? {'color':'white'}:{'color':'indigo'}">
            {{card.name}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div cols="2">
            <img [src]="img" alt="" *ngIf="card.image == null">
            <img [src]="card.image" alt="" >
            <p *ngIf="card.roles !=null"> <strong>Roles:</strong> {{card.roles}}</p>
            <p *ngIf="card.active==true" > <strong>Activo</strong> </p>
            <p *ngIf="card.active==false" > <strong>Inactivo</strong> </p>
            <p *ngIf="card.type !=null"> <strong>tipo:</strong> {{card.type}}</p>
            <p *ngIf="card.year_built !=null"> <strong>Año de construcción:</strong> {{card.year_built}}</p>
            <a [href]="card.link" target="_blank" class="btn btn-primary" *ngIf="card.link !=null">Link</a>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
